*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
	font-family: 'Lato', sans-serif;
}
ul{list-style: none;}

.container{

width: 1100px;

margin: auto;
}
.flex{

display: flex;

flex-wrap: wrap;

justify-content: flex-end;
}
.justify-content{

}


header{

padding: 30px 0;
}
.logo-area{

width: 20%;

flex: 0 0 auto;
}
.logo-area img{

}
.nav{

width: 80%;

flex: 0 0 auto;
}
.nav ul{

list-style: none;
}
.nav ul li{

}
.nav ul li a{

text-decoration: none;

display: inline-block;

padding: 10px 18px;

font-size: 16px;

font-weight: 600;

color: #2d3950;
}
.nav ul li a:hover{

color: #15a4fa;
}


.banner-section{

background-image: url(../images/header-bg.jpg);

padding: 100px 0;

background-repeat: no-repeat;

background-size: cover;

position: relative;

background-attachment: fixed;
}
.intro{

text-align: center;

max-width: 600px;

margin: 75px auto;

/* padding: 120px 0; */
}
.intro h1{

color: white;

font-size: 120px;
}
.intro span{

display: block;

width: 100%;

height: 2px;

background: #15a4fa;

margin-bottom: 50px;

margin-top: 15px;
}
.intro p{

color: white;

margin-bottom: 65px;

font-size: 20px;
}
.intro a{
	
display: inline-block;
	
text-decoration: none;
	
color: white;
	
padding: 17px 42px;
	
border: 1px solid #15a4fa;
	
border-radius: 5px;
	
margin-bottom: 75px;
transition-duration:.3s;
}
.intro a:hover{
	background:#15a4fa;
}
.click-scroll{

display: block;

color: white;

/* margin: 0 auto; */

/* text-align: center; */

position: absolute;

bottom: 100px;

right: 50%;

transform: translate(50%, 50%);

/* margin-top: 147px; */

font-size: 20px;
}


.about-sectiion{

background-color: #f6f9f9;
}
.about-sectiion .content{

text-align: center;

padding: 80px 0;

font-size: 20px;
}
.about-sectiion .content p{

color: #999999;

line-height: 1.7;

margin: 35px 0;
}
.feature-section{

padding: 50px;
}
.feature-section .col{

width: 33.33%;

flex: 0 0 auto;

text-align: center;

padding: 10px;
}
.feature-section .col .feature{

padding: 15px;
}
.feature span{

width: 100px;

height: 100px;

font-size: 43px;

color: white;

display: flex;

justify-content: center;

margin: 0 auto;

align-items: center;

background: linear-gradient(90deg, rgba(72,186,255,1) 50%, rgba(95,195,255,1) 50%);

text-shadow: 1px 1px 2px #000000b3;
}
.feature h3{

margin: 25px 0 15px;

font-size: 22px;

color: #2d3950;
}
.feature p{

color: #999999;

line-height: 1.7;

font-size: 15px;
}



.gallery-section{

padding: 80px 0;

background: #f6f9f9;
}
.gallery-section .col{

padding: 10px;

width: 33.33%;
}
.gallery-section .col .item{

position: relative;

/* padding: 10px; */
}

.item img{

display: block;

max-width: 100%;
}
.gallery-section .overlay{

position: absolute;

width: 0%;
height: 0%;

top: 0;

background: #15a4fa;
opacity: 0;
transition-duration: 0.3s;
}

.item ul{

	opacity: 0;
	transition-duration: .3s;
}
.gallery-section .col:hover .item .overlay{
	opacity: 0.9;
	width: 100%;
	height: 100%

}
.gallery-section .col:hover .item ul{
	opacity: 0.9;

}

.item ul li{

float: left;
}
.item ul li a{

display: inline-block;

padding: 11px;

font-size: 15px;

color: white;

border: 1px solid white;

margin: 0 5px;

font-weight: lighter;

height: 40px;

width: 40px;
}
.item ul li a:{

}

.contact-section{

background: url(../images/footer-bg.jpg);

position: relative;

background-repeat: no-repeat;

background-size: cover;

padding: 50px 0;
}
.contact-section .container{position: relative;}
.contact-form{
    width: 50%;
    flex: 0 0 auto;
}
.contact-form h2{

text-align: center;

color: white;

/* margin-bottom: 20px; */
}
.contact-form p{

text-align: center;

color: #999999;

font-size: 15px;

margin: 10px 0 30px;
}
.contact-form form input{

/* display: inline-block; */

width: 100%;

padding: 15px;

background: none;

margin: 10px 0;

border: 1px solid #999999;

font-size: 15px;

color: white;
}
.contact-form form input[type="submit"]{
	padding: 15px 50px;
	border: 1px solid #15a4fa;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	transition-duration: .3s;
	}
.contact-form form input[type="submit"]:hover{
background:#15a4fa;


}
.contact-form form textarea{

width: 100%;

padding: 18px;

margin: 10px 0;

background: none;

border: 1px solid #999999;

color: white;

}
.contact-form .submit{

/* display: flex; */

/* align-items: center; */

/* justify-content: space-between; */
}
footer .copyright{

color: #999999;

font-size: 15px;
}
footer ul{

/* list-style: none; */

display: flex;
}
footer ul li{

padding: 3px;
}
footer ul li a{

display: inline-block;

padding: 10px;

background: #15a4fa;

color: white;

width: 40px;

height: 40px;

text-align: center;

font-size: 15px;

border-radius: 2px;

transition-duration: .3s;
}
footer ul li a:hover{

background: #227ec7;
}


.banner-section .container {
    /* position: relative; */
}

h2 {
    font-size: 40px;
    font-weight: 500;
    color: #2d3950;
}
.gallery-header{text-align: center;margin-bottom: 50px;}
.gallery-header h2{line-height: 1.6;}
.gallery-header p{color: #999999;line-height: 1.7;font-size: 15px;}

.item ul {
    list-style: none;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}
.contact-section .overlay{

/* background: rgb(45 57 80 / .9); */

position: absolute;

width: 100%;

height: 100%;

top: 0;

background: #2d3950;

opacity: .9;

transition-duration: 0.3s;
}
.submit input[type="checkbox"], label{
	width: 20px;
	margin-right: 5px;
	color: white;
	padding: 5px;
}

.contact-section .flex {
    justify-content: center;
}
.contact-form form ul{

display: flex;

justify-content: space-between;

list-style: none;

align-items: center;
}
.contact-form ul li{flex: 0 0 auto;}
.contact-form ul li input{
	width: auto;
	/* padding: 10px 20px; */
	margin: 0;
	overflow: hidden;
}
footer .flex{
	
justify-content: space-between;
	
align-items: center;
}
footer{
	padding: 22px 0;
}

form {
    color: white;
}
.submit:hover{
	background: red;
}